<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<!--Stylesheet-->
<div class="content">
    <div>
        <h2>Bienvenido a EventUA!</h2>
        <img src=" https://img.icons8.com/clouds/100/000000/handshake.png" width="125" height="120" />
        <p><strong class="solid">Por favor, verifica tu cuenta mediante el enlace que hemos mandado a tu correo electrónico.</strong> </p>
        <p style="margin: 0;">Si tienes alguna pregunta, contesta al email que te hemos mandado. Siempre estamos dispuestos a ayudar a nuestros usuarios</p>
    </div>
    <div class="contact">
        <h2>Necesitas más ayuda?</h2>
        <p style="margin: 0;"><a href="#" target="_blank" style="color: #5cd4f1;">También puedes acceder a nuestra página de contacto desde aquí.</a></p>
    </div>
</div>