<h2 mat-dialog-title style="text-align: center;font-family: 'Poppins', sans-serif;">
    Controles del mapa</h2>
<mat-dialog-content class="mat-typography">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="fondo">
        <div class="container">
            <p><strong>RULETA</strong> para ZOOM IN/ZOOM OUT</p>
            <p><strong>ARRASTRAR</strong> para moverse en el mapa</p>
            <p><strong>CTRL + ARRASTRAR</strong> para rotar el mapa</p>
        </div>
    </div>
