#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

.pointer {
    cursor: pointer;
    align-self: center;
    text-align: center;
}

img {
    border-radius: 5%;
}

.imagenDiv {
    height: 115px;
    align-items: center;
    text-align: center;
    width: 100%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 26px;
    margin-top: 10px;
}

.nomarginbottom {
    margin-bottom: 0px!important;
}

.autoc {}

.mths {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.01);
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.container {
    font-family: 'Poppins', sans-serif;
    height: fit-content;
}

.custom-file-input {
    display: none;
}

::ng-deep .mat-input-element {
    width: 80%!important;
    margin-top: 0!important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #f06d6d;
}

::ng-deep .mat-step-header .mat-step-icon.mat-step-icon-state-edit {
    background-color: #84bddd !important;
}

::ng-deep .mat-dialog-container {
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


/* Style the input fields */

mat-select {
    width: 100%;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}


/* Hide all steps by default: */


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}

.neweventform {
    height: 100%;
}

.cerrar2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 540px;
}

.mat-horizontal-content-container {
    height: 20px !important;
}

.mat-horizontal-stepper-content {
    height: 100%;
    display: flex;
}

@media(max-width: 786px) {
    .cerrar2 {
        margin-left: 0;
    }
    .btn-primary {
        display: none;
    }
}

@media(min-width: 786px) {
    .movil {
        display: none;
    }
     ::ng-deep .mat-dialog-container {
        overflow: hidden;
    }
}
