<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Sticky Navbar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo"><img src="../../../../assets/images/logodef_eventua.png" width="240px">
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#" [routerLink]="['/landing']">Inicio</a></li>
                        <li><a href="#" [routerLink]="['/login']">Iniciar sesión</a></li>
                        <li><button class="btn btn-outline-light" [routerLink]="['/register']">Registrarse</button></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
            <div class="authform auth-box border-top border-secondary" style="background-color: rgba(0, 0, 0, 0)">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>

</html>