<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<!--Stylesheet-->
<div class="content">
    <div>
        <h2>Bienvenido a EventUA!</h2>
        <img src=" ../../../../assets/images/check.png" width="125" height="120" class="check" />
        <p><strong class="solid">Enhorabuena! Tu correo ha sido confirmado y ya puedes acceder EventUA</strong> </p>
    </div>
    <div class="contact">
        <p style="margin: 0;"><a [routerLink]="['/login']" style="color: #5cd4f1; font-size: 20px;">Iniciar sesión</a></p>
    </div>
</div>