.content {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    height: fit-content;
}

.solid {
    text-decoration: dashed;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.check {
    padding: 20px;
}

.contact {
    margin-top: 20px;
}